    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'SkyBlue','submenu':'Distribuidores'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.js') }}"></script><script>
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Distribuidores</h3>
                {#<p class="text-muted m-b-30">{{ MapsDistribuidorDirectorio</p>#}
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>No.</th>   <th>Clave</th>                            <th>Nombre Distribuidor</th>             <th>Orden</th>                            <th>Activo</th>                                  <th>Actualizado</th>                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for mapsDistribuidorDirectorio in mapsDistribuidorDirectorios %}
                        <tr>
                            <td>{{ i }}</td>     <td>{{ mapsDistribuidorDirectorio.clave }}</td>      <td>{{ mapsDistribuidorDirectorio.nombreDistribuidor }}</td>         <td>{{ mapsDistribuidorDirectorio.orden }}</td>                                <td>{{ mapsDistribuidorDirectorio.activo|sino }}</td>                    <td>{% if mapsDistribuidorDirectorio.updatedat %}{{ mapsDistribuidorDirectorio.updatedat|date('Y-m-d') }}{% endif %}</td>                                <td>
                                <div class="btn-group btn-group-xs">
                                    <a href="{{ path('mapsdistribuidordirectorio_show', { 'id': mapsDistribuidorDirectorio.id }) }}" data-toggle="tooltip" title="Ver" class="btn btn-default"><i class="fa fa-list-ul"></i></a>
                                    <a href="{{ path('mapsdistribuidordirectorio_edit', { 'id': mapsDistribuidorDirectorio.id }) }}" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
