    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'SkyBlue','submenu':'Distribuidores'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('admin/js/jasny-bootstrap.js') }}"></script>
{% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Ver Registro</h3>                <form class="form-horizontal" role="form">                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.id }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Clave</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.clave }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre Distribuidor</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.nombreDistribuidor }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Direccion</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.direccion|raw }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Telefono</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.telefono }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Whatsapp</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.whatsapp }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.email }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email2</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.email2 }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Orden</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.orden }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Activo</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ mapsDistribuidorDirectorio.activo|sino }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Creado</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {% if mapsDistribuidorDirectorio.createdat %}{{ mapsDistribuidorDirectorio.createdat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Actualizado</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {% if mapsDistribuidorDirectorio.updatedat %}{{ mapsDistribuidorDirectorio.updatedat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                    <div class="form-group m-b-0">
                        <div class="col-sm-12">
                                                                    <a class="btn btn-inverse waves-effect waves-light m-t-10" style="float:left; margin:5px;" href="{{ path('mapsdistribuidordirectorio_index') }}">Regresar</a>            <a class="btn btn-info waves-effect waves-light m-t-10" style="float:left;  margin:5px;"  href="{{ path('mapsdistribuidordirectorio_edit', { 'id': mapsDistribuidorDirectorio.id }) }}">Editar</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
