<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SkyBlue®{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ asset('assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    <link rel="shortcut icon" href="{{ asset('assets/img/icon.png') }}">
</head>

<body>
<div class="container">
    <img class="img-responsive header" src="{{ asset('assets/img/header.jpg') }}">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="{{ path('homepage') }}">Inicio</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">SkyBlue® <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="width: 500px;">
                            <div class="col-sm-6">
                                <h4>¿Qué es SkyBlue?</h4>
                                <li role="presentation"><a href="funciona.html">¿Qué es y Cómo funciona?</a></li>
                                <li role="presentation"><a href="calidad.html">Calidad</a></li>
                                <li role="presentation"><a href="abasto.html">Garantía de Abasto</a></li>
                                <li role="presentation"><a href="servicio.html">Servicios</a></li>
                                <li role="presentation"><a href="norma.html">Elaboración de la Norma NOx</a></li>
                                <li role="presentation"><a href="raloy.html">Raloy y su responsabilidad con el <strong>Medio Ambiental</strong></a></li>
                            </div>
                            <div class="col-sm-6 hidden-xs">
                                <img src="{{ asset('assets/img/menu_1.png') }}" class="img-responsive">
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Recomendaciones <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="width: 350px;">
                            <div class="col-sm-6">
                                <h4>Recomendaciones</h4>
                                <li role="presentation"><a href="uso.html">De Uso</a></li>
                                <li role="presentation"><a href="despacho.html">De Despacho</a></li>
                                <li role="presentation"><a href="almacenamiento.html">De Almacenamiento</a></li>
                                <li role="presentation"><a href="mantenimiento.html">De Mantenimiento</a></li>
                            </div>
                            <div class="col-sm-6 hidden-xs">
                                <img src="{{ asset('assets/img/menu_2.jpg') }}" class="img-responsive">
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Información Técnica<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="width: 400px;">
                            <div class="col-sm-6">
                                <h4>Informacion Tecnica</h4>
                                <li role="presentation"><a href="regulaciones.html">Regulaciones</a></li>
                                <li role="presentation"><a href="tecnica.html">Informacion Tecnica</a></li>
                                <li role="presentation"><a href="preguntas.html">Preguntas Frecuentes</a></li>
                            </div>
                            <div class="col-sm-6 hidden-xs">
                                <img src="{{ asset('assets/img/menu_3.jpg') }}" class="img-responsive">
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Distribuidores Autorizados<span class="caret"></span></a>
                        <ul class="dropdown-menu menu-right" role="menu" style="width: 500px;">
                            <div class="col-sm-4 hidden-xs">
                                <img src="{{ asset('assets/img/menu_4.jpg') }}" class="img-responsive">
                            </div>
                            <div class="col-sm-4">
                                <h4>Norte</h4>
                                <li role="presentation"><a href="map.html">Aguascalientes</a></li>
                                <li role="presentation"><a href="map.html">Chihuahua</a></li>
                                <li role="presentation"><a href="map.html">Coahuila</a></li>
                                <li role="presentation"><a href="map.html">Durango</a></li>
                                <li role="presentation"><a href="map.html">Nuevo Leon</a></li>
                                <li role="presentation"><a href="map.html">San Luis Potosi</a></li>
                                <li role="presentation"><a href="map.html">Tamaulipas</a></li>
                                <li role="presentation"><a href="map.html">Zacatecas</a></li>
                                <h4>Pacifico</h4>
                                <li role="presentation"><a href="map.html">Baja California</a></li>
                                <li role="presentation"><a href="map.html">Baja California Sur</a></li>
                                <li role="presentation"><a href="map.html">Colima</a></li>
                                <li role="presentation"><a href="map.html">Jalisco</a></li>
                                <li role="presentation"><a href="map.html">Michoacan</a></li>
                                <li role="presentation"><a href="map.html">Nayarit</a></li>
                                <li role="presentation"><a href="map.html">Sinaloa</a></li>
                                <li role="presentation"><a href="map.html">Sonora</a></li>
                            </div>
                            <div class="col-sm-4">
                                <h4>Centro</h4>
                                <li role="presentation"><a href="map.html">Ciudad de Mexico</a></li>
                                <li role="presentation"><a href="map.html">Guanajuato</a></li>
                                <li role="presentation"><a href="map.html">Guerrero</a></li>
                                <li role="presentation"><a href="map.html">Hidalgo</a></li>
                                <li role="presentation"><a href="map.html">Estado de Mexico</a></li>
                                <li role="presentation"><a href="map.html">Morelos</a></li>
                                <li role="presentation"><a href="map.html">Oaxaca</a></li>
                                <li role="presentation"><a href="map.html">Puebla</a></li>
                                <li role="presentation"><a href="map.html">Queretaro</a></li>
                                <li role="presentation"><a href="map.html">Tlaxcala</a></li>
                                <li role="presentation"><a href="map.html">Veracruz</a></li>
                                <h4>Sureste</h4>
                                <li role="presentation"><a href="map.html">Campeche</a></li>
                                <li role="presentation"><a href="map.html">Chiapas</a></li>
                                <li role="presentation"><a href="map.html">Quintana Roo</a></li>
                                <li role="presentation"><a href="map.html">Tabasco</a></li>
                                <li role="presentation"><a href="map.html">Yucatan</a></li>
                            </div>
                        </ul>
                    </li>
                    <li role="presentation"><a href="{{ path('contact') }}">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>
<div class="container">
    <div class="row margin-tb">
        <div class="col-md-12 footer">
            <hr>
            <p class="text-center">SkyBlue® es una marca registrada.</p>
            <p class="text-center">Todos los derechos reservados <span>{{ "now"|date("Y") }}</span></p>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
</body>

</html>