    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'SkyBlue','submenu':'Banners'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('admin/js/jasny-bootstrap.js') }}"></script>
{% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Ver Registro</h3>                <form class="form-horizontal" role="form">                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ banner.id }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ banner.nombre }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ banner.descripcion }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Imagen</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">    <img src="{{ asset('uploads/images/'~banner.imagen) }}" style="max-width: 100%;">     </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Link</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">  {% if banner.link == null %}Sin Enlace{% else %}<a href="{{ banner.link }}" target="_blank">Enlace</a>{% endif %}  </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Activo</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ banner.activo|sino }}                                </p>
                            </div>
                        </div>                      <div class="form-group">
                        <label class="col-sm-2 control-label">Creado</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">                                        {% if banner.createdat %}{{ banner.createdat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                        </div>
                            </div>                        <div class="form-group">
                        <label class="col-sm-2 control-label">Actualizado</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">                                        {% if banner.updatedat %}{{ banner.updatedat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                        <div class="form-group m-b-0">
                        <div class="col-sm-12">
                                                                    <a class="btn btn-inverse waves-effect waves-light m-t-10" style="float:left; margin:5px;" href="{{ path('banners_index') }}">Regresar</a>            <a class="btn btn-info waves-effect waves-light m-t-10" style="float:left;  margin:5px;"  href="{{ path('banners_edit', { 'id': banner.id }) }}">Editar</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
