{% extends '@Frontend/layout.html.twig' %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/libs/ekko-lightbox/ekko-lightbox.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/ekko-lightbox/ekko-lightbox.js') }}"></script>
    <script type="text/javascript">
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock %}

{% block body %}
    <div data-ride="carousel" class="carousel slide margin-tb" id="carousel-1">
        <div role="listbox" class="carousel-inner">
            {% for banner in banners %}
                <div class="item {% if loop.first %}active{% endif %}">
                    {% if banner.link != null %}
                        {% if 'youtube' in banner.link or 'youtu' in banner.link %}
                            <a href="{{ banner.link }}" data-toggle="lightbox" data-title="{{ banner.nombre }}" {% if banner.descripcion is not null %}data-footer="{{ banner.descripcion }}"{% endif %}>}
                        {% else %}
                            <a href="{{ banner.link }}">
                        {% endif %}
                    {% endif %}
                        <img src="{{ asset('uploads/images/'~banner.imagen) }}" alt="{{ banner.nombre }}" />
                    {% if banner.link != null %}
                        </a>
                    {% endif %}
                    {% if banner.descripcion != null %}
                        <div class="carousel-caption fadeInUp animated">
                            <h5>{{ banner.descripcion }}</h5>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row margin-tb">
        {% set i = 1 %}
        {% for h in home if i <= 3 %}
            <div class="col-sm-4 home-sec">
                <h4 class="text-center">{{ h.nombre }}</h4>
                <img class="img-responsive" src="{{ asset('uploads/images/'~h.imagen) }}">
                <p>{{ h.descripcion }}...</p>
                <a href="{% if h.link == null %}#{% else %}{{ h.link }}{% endif %}">
                    <h5 class="text-center">Continuar Leyendo</h5>
                </a>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>
{% endblock %}