<div class="col-sm-4">
    <h4>Norte</h4>
    {% for nacional in nacionales %}
        {% if nacional.zona=='Norte' %}
            <li role="presentation"><a href="{{ path('paginas',{"menu":"mapa","slug":nacional.slug}) }}">{{ nacional.nombre }}</a></li>
        {% endif %}
    {% endfor %}
    <h4>Pacifico</h4>
    {% for nacional in nacionales %}
        {% if nacional.zona=='Pacífico' %}
            <li role="presentation"><a href="{{ path('paginas',{"menu":"mapa","slug":nacional.slug}) }}">{{ nacional.nombre }}</a></li>
        {% endif %}
    {% endfor %}
</div>
<div class="col-sm-4">
    <h4>Centro</h4>
    {% for nacional in nacionales %}
        {% if nacional.zona=='Centro' %}
            <li role="presentation"><a href="{{ path('paginas',{"menu":"mapa","slug":nacional.slug}) }}">{{ nacional.nombre }}</a></li>
        {% endif %}
    {% endfor %}
    <h4>Sureste</h4>
    {% for nacional in nacionales %}
        {% if nacional.zona=='Sureste' %}
            <li role="presentation"><a href="{{ path('paginas',{"menu":"mapa","slug":nacional.slug}) }}">{{ nacional.nombre }}</a></li>
        {% endif %}
    {% endfor %}
</div>