    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'SkyBlue','submenu':'Submenus'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('admin/js/jasny-bootstrap.js') }}"></script>
{% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Ver Registro</h3>                <form class="form-horizontal" role="form">                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ submenu.id }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ submenu.nombre }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Link</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                  <a target="_blank" href="{{ path('paginas',{"menu":submenu.menus.slug,"slug":submenu.paginas.slug}) }}">Link</a>                          </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Orden</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ submenu.orden }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Activo</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">              {{ submenu.activo|sino }}                         </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Creado</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {% if submenu.createdat %}{{ submenu.createdat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Actualizado</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {% if submenu.updatedat %}{{ submenu.updatedat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                    <div class="form-group m-b-0">
                        <div class="col-sm-12">
                                                                    <a class="btn btn-inverse waves-effect waves-light m-t-10" style="float:left; margin:5px;" href="{{ path('submenus_index') }}">Regresar</a>            <a class="btn btn-info waves-effect waves-light m-t-10" style="float:left;  margin:5px;"  href="{{ path('submenus_edit', { 'id': submenu.id }) }}">Editar</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
